/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define LY_NUMS 1
#define LY_NAV 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                      |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  ESC  |  A  |  S  |  D   |  F   |  G   |                                      |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | DEL | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | CTRL | alt  |  SPACE  |   num   |  | nav | BSPC | RET | BSPC  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W    &kp E     &kp R    &kp T                                              &kp Y   &kp U    &kp I     &kp O   &kp P    &kp BSLH
	&kp ESC   &kp A &kp S    &kp D     &kp F    &kp G                                              &kp H   &kp J    &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X    &kp C     &kp V    &kp B     &kp LSHFT &kp DEL     &kp RET   &kp LSHFT &kp N   &kp M    &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                    &kp LCTRL &kp LALT &kp LGUI &kp SPACE &mo LY_NUMS           &kp LSHFT &kp BKSP  &kp DEL &kp BKSP &kp RALT
                >;
			// sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		number_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  1  |  2  |  3  |  4  |  5  |                          |  6  |  7  |  8  |  9  |   0   |   -  |
// |  ESC  |  ^  |  {  |  [  |  ]  |  }  |                          |  (  |  J  |  K  |  )  |   -   |   '  |
// | SHIFT |  F1 |  F2 |  F3 |  F4 |  F5 | --- | --- |  | --- | --- |  F6 |  F7 | F8  |  F9 |  F10 | F11  |
//                     | --- | --- | --- | --- | --- |  | --- | --- | --- | --- | --- |
			bindings = <
	&trans &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                             &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &kp BSLH
	&trans &kp CARET &kp LBRC  &kp LBKT  &kp RBKT  &kp RBRC                              &kp LPAR  &kp J     &kp K     &kp RPAR  &kp GRAVE &kp HASH
	&trans &kp F1    &kp F2    &kp F3    &kp F4    &kp F5 &trans &trans    &trans &trans &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
	                           &trans    &trans    &trans &trans &trans    &trans &trans &trans    &trans    &trans
			>;
		};

	};
};
