/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define LY_NUMS 1
#define LY_NAV 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | ESC    |  Q  |  W  |  E   |  R   |  T   |                                         |  Y   |  U    |  I    |  O   |   P   | BKPS |
// | SHIFT  |  A  |  S  |  D   |  F   |  G   |                                         |  H   |  J    |  K    |  L   |   ;   |   '  |
// | CTRL   |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | DEL     | LSHIFT |  N   |  M    |  ,    |  .   |   /   | \    |
//                      | LCTR | ALT  | GUI  |  SPACE  | LY_NUMS |  | LY_NUMS | BSPC   | RET  | LY_NAV | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W    &kp E     &kp R    &kp T                                                 &kp Y    &kp U      &kp I     &kp O   &kp P    &kp BKSP
	&kp LSHFT &kp A &kp S    &kp D     &kp F    &kp G                                                 &kp H    &kp J      &kp K     &kp L   &kp SEMI &kp SQT
	&kp LCTRL &kp Z &kp X    &kp C     &kp V    &kp B     &kp TAB &kp DEL       &kp RET     &kp RCTRL &kp N    &kp M      &kp COMMA &kp DOT &kp FSLH &kp BSLH 
                    &kp LCTRL &kp LALT &kp LGUI &kp SPACE &mo LY_NUMS           &kp LY_NUMS &kp BKSP  &kp RET  &kp LY_NAV &kp RALT
                >;
			// sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		number_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  1  |  2  |  3  |  4  |  5  |                          |  6  |  7  |  8  |  9  |   0  |  --- |
// |  ESC  |  ^  |  {  |  [  |  ]  |  }  |                          |  (  |  -  |  =  |  )  |  --- |   '  |
// | SHIFT |  F1 |  F2 |  F3 |  F4 |  F5 | --- | --- |  | --- | --- |  F6 |  F7 | F8  |  F9 |  F10 | F11  |
//                     | --- | --- | --- | --- | --- |  | --- | --- | --- | --- | --- |
			bindings = <
	&trans &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                             &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &kp BSLH
	&trans &kp CARET &kp LBRC  &kp LBKT  &kp RBKT  &kp RBRC                              &kp LPAR  &kp MINUS &kp EQUAL &kp RPAR  &kp GRAVE &kp HASH
	&trans &kp F1    &kp F2    &kp F3    &kp F4    &kp F5 &trans &trans    &trans &trans &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
	                           &trans    &trans    &trans &trans &trans    &trans &trans &trans    &trans    &trans
			>;
		};

	};
};
